<!DOCTYPE html>
<html>
  <head>
    <title>Onsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <%= link_to 'Home', root_path %>
        <%= link_to 'About', about_path %>
        <%= link_to 'Services', services_path %>
        <%= link_to 'Contact', contact_path %>
      </div>

      <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; </button>
      </div>


      <%= yield %>
    </div>

    <div id="footer">
      <div class="container text-center">
        <b>Footer Here</b>
        <br />
        <%= link_to "Davis Development", "https://davisdevelopment.tech", :target => "_blank" %>
      </div>
    </div>
  </body>
</html>
